<h2>POC application covid</h2>
<p>Ne fonctionne pas avec <span style="color: red; font-weight: bold">Safari</span></p>

<p>Veillez à bien autoriser l'envoie de notifications, les notifications proviennent du framework one signal</p>
<p>Toutes les données que vous voyez proviennent du back</p>
<p>Votre id de téléphone unique : <span style="font-weight: bold">{{uuid}}</span></p>
<button *ngIf="uuid" (click)="getTemporaryToken()">Simuler une rencontre</button>
<p>Les tokens de rencontre chiffrés des personnes à contacter
<br> Pour le test ils sont formés de : </p>
<ul>
  <li>Votre id de téléphone unique</li>
  <li>La date de génération</li>
  <li>La date de génération + 20 minutes (date d'expiration)</li>
  <li>Un vecteur d'initialisation</li>
</ul>
<p *ngIf="temporaryTokens.length > 0">Vos tokens de rencontre</p>
<p *ngFor="let t of temporaryTokens">{{t.token}}</p>
<p *ngIf="temporaryTokens.length == 1">Pour le moment {{temporaryTokens.length}} personne est à contacter</p>
<p *ngIf="temporaryTokens.length > 1">Pour le moment {{temporaryTokens.length}} personnes sont à contacter</p>

<button *ngIf="temporaryTokens.length >= 1" (click)="alertUser()">Alerter les utilsateurs</button>
<p *ngIf="alertedUser.length > 0">utilisateur alerté</p>
<p *ngFor="let u of alertedUser">{{u}}</p>
